@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 85%;
    height: 100%;
    margin: auto;
    background-color: #000000;
    color: #efefef;
}
#landing-page{
    width: 100%;
    background-color: black;
    margin: auto;
}
nav{
    width: 100%;
    height: 7rem;
}
nav .container{
    display: flex;
    align-items: center;
    font-weight: bold;
}
nav a{
    color: #efefef;
}
a{
    text-decoration: none;
}
a.navbar-brand:hover{
    color: lightsalmon;
}
li:nth-child(1) a:hover, .red-text{
    color:lightcoral;
}
li:nth-child(2) a:hover, .blue-text{
    color: cornflowerblue;
}
li:nth-child(3) a:hover, .green-text{
    color: lightgreen;
}

/* jumbotron style */
.jumbotron{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}
.text-container{
    width: 90%;
    height: fit-content;
    margin: 50px 0;
    text-align: left;
} 
.text-container h1.main-text{
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.text-container p{
    width: 75%;
    font-size: 1.3rem;
    margin: 2rem 0;
    line-height: 2.2rem;
}
.text-container h4{
    color: lightsalmon;
    font-weight: 600;
    display: inline;
    margin-right: 10px;
}
.text-container svg.arrow{
    transform: rotate(90deg);
}
.text-container a:hover svg.arrow{
    margin-top: 4px;
    transform: rotate(90deg) scaleX(1.2);
    transition: .5s;
}
.img-container{
    width: 100%;
    height: fit-content;
}
.jumbotron .img-container img.img{
    margin: 100px 50px;
}


/* work css */
section .container{
    padding: 100px 0 0 0;
    width: 100%;
    margin: -100px auto;
}
#work .container .main-work{
    width: 80%;
}
section .container .main-title{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
}
section .container  .description{
    width: 70%;
    font-size: 1.18rem;
    margin: 2rem 0;
    line-height: 2.2rem;
}
section .container h4{
    font-size: 1.3rem;
    font-weight: 600;
    display: inline;
}
section .container a .arrow, button.link .arrow{
    margin-left: 20px;
    margin-top: -7px;
}
section .container a:hover .arrow, button:hover.link .arrow{
    margin-left: 30px;
    transition: .5s;
}
#work .container .img-work img{
    width: 90%;
    margin: 5rem auto;
}
section .container .testimoni{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: large;
}
section .container .testimoni .quote{
    font-size: 1000%;
    font-style: italic;
    margin: 0 auto -120px;
    padding: 0;
}
section .container .list-work .testimoni .testi-profile img{
    margin: 3rem;
}
section .container .list-work .testimoni .testi-profile{
    padding-bottom: 3rem;
}

/* capabilities css */
#capabilities .container{
    margin-top: 3rem;
    padding: 5rem 0 0;
}
#capabilities .container .title h2{
    margin: 0rem 0 3rem;
    font-size: 2.5rem;
    font-weight: 600;
}
#capabilities .container .row.one{
    margin-bottom: 5rem;
}
#capabilities .container .capability-skills{
    width: 65%;
}
#capabilities .container .capability-skills .capability-list{
    width: 100%;
}
#capabilities .container .row .capability-skills .capability-list::before{
    content:'';
    width: 13px;
    height: 13px;
    display:inline-flex;
    margin: 10px 20px 15px 0;
    border-radius: 50%;
}
#capabilities .container .row.one .capability-skills .capability-list::before{
    background-color: #ffc0cb;
}
#capabilities .container .row.two .capability-skills .capability-list::before{
    background-color:#00fa9a;
}

/* form css */
#contact .container{
    margin-top: 5rem;
}
#contact .container .title h2{
    width: 80%;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: -5rem;
    padding-top: 5rem;
}
#contact .container .description p{
    width: 80%;
}
#contact .container .container-form{
    width: 50%;
}
#contact .container .container-form .form-group textarea.form-control{
    width: 100%;
    margin-bottom: 3rem;
    background-color: #0c0c0c;
    border: black;
    color: #efefef;
}
.form-control::placeholder{
    color: #efefef;
    opacity: 1;
}
.form-control:focus {
    border-color: steelblue;
    box-shadow: -.1px .1px .2px .2px steelblue, .1px -.1px .2px .2px steelblue;
}
#contact .container .container-form .form-group input.form-control{
    width: 100%;
    height: 50px;
    margin-bottom: 1.3rem;
    background-color: #0c0c0c;
    color: #efefef;
    border: black;
}
#contact .container .title.email h2{
    margin-top: 1rem;
}
#contact .container .title.email h2 a{
    color: lightskyblue;
    border-bottom: 5px solid transparent;
}
#contact .container .title.email h2 a:hover{
    border-bottom: 5px solid lightskyblue;
    transition: .5s;
}

/* footer css */
footer .container{
    width: 100%;
    margin: 13rem 0 2rem;
    height: 100px;
}
footer .container .link a{
    color: #efefef;
}
footer .container .link a:hover{
    color:crimson;
    transition: .5s;
}



/* Responsive */
@media screen and (max-width:576px) {
    /* body dan jumbotron */
    body{
        overflow-x: hidden;
    }
    .jumbotron{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        margin: 0 auto -400px;

        text-align: center;
    }
    .text-container{
        width: 90%;
        margin: 0;
    } 
    .text-container h1.main-text{
        font-size: 2rem;
        line-height: normal;
    }
    .text-container p{
        width: 90%;
        font-size: 1rem;
    }
    .text-container h4{
        font-size: 1.2rem;
    }
    .text-container a:hover svg.arrow{
        transition: .4s;
    }
    .jumbotron .img-container img.img{
        width: 150px;
        margin:50px 0;
    }
    /* work css */
    #work .container .main-work{
        width: 93%;
    }
    section .container  .description{
        width: 95%;
    }
    #work .container .img-work img{
        width: 100%;
        margin: 5rem auto 3rem;
    }

    /* capabilities css */
    #capabilities .container .row .row{
        display: flex;
        flex-direction: column-reverse;
    }
    #capabilities .container .capability-skills{
        width: 95%;
        margin-bottom: 3rem;
    }
    #capabilities .container .capability-skills .capability-list{
        width: 100%;
    }
    #capabilities .container .img-work img{
        margin: 1rem auto 2.5rem;
        width: 300px;
    }
    #capabilities .container .main-capabilities{
        width: 95%;
        margin: 0;
    } 
    #capabilities .container .main-capabilities .main-title{
        width: 65%;
    }
    /* form css */
    #contact .container .title h2{
        width: 90%;
    }
    #contact .container .description p{
        width: 95%;
    }
    #contact .container .container-form{
        width: 80%;
    }
    #contact .container .title.email h2{
        font-size: 1.5rem;
    }
    #contact .container .title.email h2 a{
        font-size: 1.2rem;
    }

    /* footer css */
    footer .container{
        width: 100%;
        margin: 10rem 0 2rem;
        height: 100px;
        padding-left: 0;
    }
    footer .container .link a{
        color: #efefef;
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    /* body dan jumbotron */
    body{
        overflow-x: hidden;
    }
    .jumbotron{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        margin: 0 auto -400px;
        text-align: center;
    }
    .text-container{
        width: 90%;
        margin: 0;
    } 
    .text-container h1.main-text{
        font-size: 2rem;
        line-height: normal;
    }
    .text-container p{
        width: 90%;
        font-size: 1rem;
    }
    .text-container h4{
        font-size: 1.2rem;
    }
    .text-container a:hover svg.arrow{
        transition: .4s;
    }
    .jumbotron .img-container img.img{
        width: 150px;
        margin:50px 0;
    }
    /* work css */
    #work .container{
        margin-top: 25rem;
    }
    #work .container .main-work{
        width: 93%;
    }
    section .container  .description{
        width: 95%;
    }
    #work .container .img-work img{
        width: 100%;
        margin: 5rem auto 3rem;
    }

    /* capabilities css */
    #capabilities .container .row .row{
        display: flex;
        flex-direction: column-reverse;
    }
    #capabilities .container .capability-skills{
        width: 95%;
        margin-bottom: 3rem;
    }
    #capabilities .container .capability-skills .capability-list{
        width: 100%;
    }
    #capabilities .container .img-work img{
        margin: 1rem auto 2.5rem;
    }
    #capabilities .container .main-capabilities{
        width: 95%;
        margin: 0;
    } 
    #capabilities .container .main-capabilities .main-title{
        width: 65%;
    }
    /* form css */
    #contact .container .title h2{
        width: 90%;
    }
    #contact .container .description p{
        width: 95%;
    }
    #contact .container .container-form{
        width: 80%;
    }
    #contact .container .title.email h2{
        font-size: 1.5rem;
    }
    #contact .container .title.email h2 a{
        font-size: 1.2rem;
    }

    /* footer css */
    footer .container{
        width: 100%;
        margin: 10rem 0 2rem;
        height: 100px;
        padding-left: 0;
    }
    footer .container .link a{
        color: #efefef;
        width: 100%;
    }
}
